@use "../core" as *;


.footer {
    padding-top: var(--gap-80);
    background: $color-white;

    &_wrap {
        display: flex;
        flex-direction: column;


    }

    &_top {
        
        padding: 0 var(--gap-80);
        width: 100%;
        

        &--wrap{
            justify-content: space-between;
            // width: 100%;
            row-gap: var(--gap-32);

        }
        

        @include max(1460px) {
            padding: 0 var(--gap-32);

        }



        @include max(1200px) {
            padding: 0 1.6rem;

        }

        &--lf {

            width: calc(100% / 3);

            &-wrap {
                max-width: 40.5rem;
                width: 100%;



                .menu {

                    &-list {
                        flex-direction: row;
                        flex-wrap: wrap;
                        row-gap: var(--gap-48);

                        @include max(1200px){
                        row-gap: var(--gap-32);

                        }

                        @include max(600px){
                            justify-content: center;
                        }

                        @include max(360px){
                           justify-content: unset;
                          
                        }
                        

                    }

                    &-item {
                        width: 50%;
                        &::before {
                            display: none;
                        }

                        &.current-menu-item {
                            .menu-link {
                                color: $color-pri !important;
                            }
                        }

                        @include hover {
                            .menu-link {
                                color: $color-pri !important;
                            }
                        }

                        @include max(600px){
                            width: fit-content;
                        }

                        @include max(360px){
                            width: 50%;
                        }


                    }

                    &-link {
                        color: $color-black-2 !important;
                        font-weight: 400;
                        white-space: wrap !important;
                        &::before {
                            display: none;
                        }

                        &::after{
                            display: none;
                        }

                        // @include max(360px){
                        //     padding-left: unset !important;
                        //     padding-right: unset !important;
                        // }
                    }
                }
                @include max(1200px){
                    max-width: unset;
                }
            }

            @include max(800px){
                width: 50%;
            }

            @include max(600px){
                width: 100%;
            }

        }

        &--ct {
            width: calc(100% / 3);

            @include max(800px){
                width: 100%;
                order: -1;
            }

            .custom-logo-link {
                max-width: 24rem;
                margin: 0 auto;

                @include max(1200px) {
                    max-width: 20rem;
                    position: relative;
                    top: unset;
                    left: unset;
                    transform: unset;
                }

                @include max(1024px){
                    max-width: 16rem;
                }

                @include max(460px){
                    max-width: 12rem;
                }
            }

            &-wrap {
                width: fit-content;
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                row-gap: 2.8rem;
            }

            &-top {
                display: flex;
                flex-direction: column;
                align-items: center;
                row-gap: var(--gap-16);
            }

            &-bottom {}
        }

        &--rt {
            width: calc(100% / 3);

            &-wrap {
                max-width: 36.5rem;
                width: 100%;
                margin-left: auto;
                display: flex;
                flex-direction: column;
                row-gap: var(--gap-24);

                @include max(1200px){
                    max-width: unset;
                }
            }

            &-contact {
                display: flex;
                flex-direction: column;
                row-gap: var(--gap-08);
            }

           
            @include max(800px){
                width: 50%;
            }
            @include max(600px){
                width: 100%;
            }
        }


    }

    &_center {
        padding: var(--gap-64) var(--gap-80) var(--gap-24) var(--gap-80);
        display: flex;
        justify-content: center;

        @include max(1460px) {
            padding: var(--gap-64) var(--gap-32) var(--gap-24) var(--gap-32);

        }

        @include max(1200px) {
            padding: var(--gap-24) 1.6rem var(--gap-24) 1.6rem;
        }


        .menu {
            &-list {
                --pd: 1.2rem;
                flex-direction: row;
                // justify-content: center
            }

            &-item {
                &::before {
                    display: none;
                }
                &:not(:first-child) {
                    .menu-link {
                        border-left: 0.1rem solid $color-gray;
                    }
                }

                @include hover {
                    .menu-link {
                        color: $color-pri !important;
                    }
                }


            }

            &-link {
                font-size: 1.4rem !important;
                color: $color-gray !important;

                &::before {
                    display: none;
                }
                &::after {
                    display: none;
                }
            }
        }
    }

    &_bottom {
        padding: var(--gap-12);
        background: $color-pri;

        @include max(1200px) {
            padding: var(--gap-12) 1.6rem;

        }

        p {
            font-size: 1.3rem;
        }
    }
}