@use "../core" as *; // Import toàn bộ mixin và biến

.social {
    &_list {
        display: flex;
        column-gap: var(--gap-24);
    }

    &_item {}

    &_link {
        width: 2.4rem;
        height: 2.4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background: transparent;
        overflow: hidden;
        transition: 0.3s linear;
        border: 0.1rem solid transparent;

        @include hover {
            transform: translateY(-0.5rem);

        }


    }

    &_img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.3s linear;




    }
}

.address {
    &_list {
        display: flex;
        flex-direction: column;
        row-gap: var(--gap-16);
    }

    &_item {
        display: flex;
        column-gap: 0.4rem;

        @include hover {
            .address_item--ic {
                img {
                    filter: brightness(0) saturate(100%) invert(16%) sepia(65%) saturate(5939%) hue-rotate(328deg) brightness(81%) contrast(111%);
                }
            }

            .address_item--content {
                .address_link {
                    color: $color-pri
                }

                p {

                    color: $color-gray !important;

                }
            }
        }

        .note-md {
            display: inline;
            color: $color-white;
            font-weight: 400;
            @include fz-14;
        }

        &--content {
            display: flex;
            // align-items: start;
            column-gap: 0.4rem;
            display: inline;

            .note-sm {
                display: inline;
                flex-shrink: 0;
                white-space: nowrap;
                color: $color-text;

                @include max(600px) {
                    font-size: 1.2rem;
                }
            }

            .address_link {}
        }

        &--ic {
            width: 2.4rem;
            height: 2.4rem;
            margin-top: 0.1rem;
            flex-shrink: 0;
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;

            // @include max(600px) {
            //     margin-top: -0.15rem !important;
            // }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    &_link {
        font-weight: 400;
        display: inline !important;
        transition: unset;
        color: $color-gray;
        @include fz-16;
    }



}